*.iml
/.gradle
/.idea
/build
/local.properties
/local.properties
/app/src/main/obj
/app/src/main/libs
/app/src/main/jni/cBSON
/app/src/main/jni/ed25519
/app/src/main/jni/mbedtls-2.1.2
/app/src/main/jni/port
/app/src/main/jni/wish
/app/src/main/jni/wish_app
/app/src/main/jni/wish_rpc
/app/src/main/jni/deps
app/src/main/jni/nbproject
app/release
app/.externalNativeBuild
/github.properties
